!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge,chrome=1", http: {equiv: "X-UA-Compatible"}}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %title= current_page.data.title || "The Middleman"
    = stylesheet_link_tag "application"

  %body{class: page_classes}
    = partial "./layouts/header"
    .gape-introduction
      %span.text-big-light-blue GAPE:
      %span.text-big-blue Sociedad
      %span.text-big-light-blue +
      %span.text-big-blue Gobierno
      %p.big-p Gobierno Abierto tiene como objetivo que los ciudadanos colaboren en la creaci&oacute;n y el mejoramiento de los servicios públicos, en la transparencia y en la rendición de cuentas.
    = partial "./layouts/menu"
    = partial "./layouts/agendas-abiertas"
    .middle-text
      %p ¿No ves un tema que sea de tu inter&eacute;s?
      %button Prop&oacute;n una agenda de apertura
    = partial "./layouts/mesas-de-trabajo"
    = partial "./layouts/compromisos"
    = partial "./layouts/footer"
    = yield
    = javascript_include_tag "https://code.jquery.com/jquery-2.1.1.min.js"
    = javascript_include_tag "application"
